.master-container {
  display: flex;
  flex-direction: column;
  height: 768px;
  width: 1366px;
  background-color: $wild-sand;
  justify-content: center;
  align-items: center;

  .return-button {
    align-self: flex-start;
    color: $black;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 108px;
    margin-left: 233px;
  }

  .return-button::before {
    margin-right: 12px;
    content: url(Images/back-arrow-20.png);
  }
  
  .cover-text-container {
    position: relative;
    display: flex;
    height: 416px;
    width: 900px;
    background-color: $white;
    box-shadow: 4px 4px 10px 0 $black-rgba;

    .cover-page-badge-container {
      display: flex;
      position: relative;
      
      .cover-page {
        height: 368px;
        width: 261px;
        margin: 24px 52px 24px 24px;
      }
      
      .badge {
        position: absolute;
        display: flex;
        height: 119px;
        width: 95px;
        transform: rotate(15deg);
        right: 25px;
        top: 10px;
        z-index: 1;
      }
    }

    .container-text {
      display: flex;
      flex-direction: column;
      
      .container-book {
        display: flex;
        width: 540px;
        margin-top: 24px;
        margin-bottom: 52px;
        border-bottom: 4px solid $earls-green;
      
        
        .book-title {
        color: $black;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 12px;
        }
      
        .book-genre {
          color: $gray;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          margin-top: 5px;
          margin-left: 8px;
        }
      }
    }
    .container-detail {
      display: flex;
      flex-direction: column;
    
      .title {
        color: $black;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }
      
      .detail {
        color: $gray;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 36px;
      }
    }
  }
}
