@import 'variables';

.text{
  font-family: 'Roboto', sans-serif;
}

.container-text{
  display: flex;
  flex-direction: column;
}

.container-secondary-text{
  display: flex;
  flex-direction: column;
}

.cover-page{
  display: flex;
  height: 368px;
  width: 261px;
  margin-right: 52px;
}

.cover-text-container{
  display: flex;
  flex-direction: row;
}

.book-title{
  @extend .text;
  color: $black;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.title-genre{
  @extend .text;
  color: $gray;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 55px;
}

.secondary-title{
  @extend .text;
  color: $black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.secondary-detail{
  @extend .text;
  color: $gray;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 36px;
}
