@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0; }
  h1:focus,
  h2:focus,
  h3:focus,
  h4:focus,
  h5:focus,
  h6:focus,
  p:focus,
  span:focus,
  label:focus,
  input:focus,
  a:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  table-layout: fixed; }

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  background: transparent;
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #000;
    text-decoration: none; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

::placeholder {
  color: #999;
  opacity: 1; }

.index-master-container {
  display: grid;
  height: 768px;
  max-width: 1366px;
  width: 100%;
  background-color: #F4F4F4;
  grid-template-rows: 173px 416px 173px;
  justify-content: center;
  align-content: center;
  grid-template-areas: "return" "cover-text" "."; }
  .index-master-container .return-button {
    align-self: flex-end;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    grid-area: return;
    margin-bottom: 108px; }
    .index-master-container .return-button::before {
      margin-right: 12px;
      content: url(Images/back-arrow-20.png); }
  .index-master-container .cover-text-container {
    position: relative;
    display: grid;
    align-self: center;
    grid-area: cover-text;
    height: 416px;
    width: 900px;
    background-color: #FFF;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    grid-template-columns: 309px 250px 341px;
    grid-template-rows: 75px 341px;
    grid-template-areas: "image title genre" "image description description"; }
    .index-master-container .cover-text-container .cover-page-badge-container {
      display: flex;
      position: relative;
      grid-area: image;
      align-content: center;
      justify-content: center; }
      .index-master-container .cover-text-container .cover-page-badge-container .cover-page {
        height: 368px;
        width: 261px;
        align-self: center; }
      .index-master-container .cover-text-container .cover-page-badge-container .badge {
        position: absolute;
        display: flex;
        height: 119px;
        width: 95px;
        transform: rotate(15deg);
        right: 0px;
        top: 10px;
        z-index: 1; }
    .index-master-container .cover-text-container .book-title {
      height: 40px;
      color: #000000;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      align-self: center;
      grid-area: title;
      margin-left: 28px; }
    .index-master-container .cover-text-container .book-genre {
      height: 40px;
      color: #808080;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      align-self: center;
      margin-top: 8px;
      grid-area: genre;
      margin-left: 20px; }
    .index-master-container .cover-text-container .container-text {
      grid-area: description;
      display: flex;
      flex-direction: column;
      margin: 0 24px 0 28px;
      border-top: 4px solid #BED23C; }
      .index-master-container .cover-text-container .container-text .container-detail {
        display: flex;
        flex-direction: column;
        margin-top: 36px; }
        .index-master-container .cover-text-container .container-text .container-detail .title {
          color: #000000;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px; }
        .index-master-container .cover-text-container .container-text .container-detail .detail {
          color: #808080;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 36px; }
  @media only screen and (max-width: 1024px) {
    .index-master-container {
      height: 768px;
      width: 100%;
      grid-template-rows: 99px 569px 100px;
      grid-template-areas: "return-button" "container" "."; }
      .index-master-container .return-button {
        font-size: 18px;
        grid-area: return-button;
        justify-self: flex-start;
        margin: 0 0 33px 0; }
      .index-master-container .cover-text-container {
        height: 569px;
        width: 853px;
        grid-area: container;
        justify-items: center;
        grid-template-columns: 329px 524px;
        grid-template-rows: 71px 74px 368px 56px;
        justify-self: center;
        margin: 0;
        grid-template-areas: ". title" ". genre" "image description" ". ."; }
        .index-master-container .cover-text-container .cover-page-badge-container {
          display: grid;
          align-self: center;
          justify-self: center;
          grid-area: image; }
          .index-master-container .cover-text-container .cover-page-badge-container .badge {
            width: calc(95px * 0.7);
            height: calc(119px * 0.7);
            right: -16px;
            top: -10px; }
        .index-master-container .cover-text-container .book-title {
          margin: 0;
          grid-area: title;
          justify-self: flex-start;
          align-self: flex-end; }
        .index-master-container .cover-text-container .book-genre {
          margin: 0 0 0 50px;
          grid-area: genre;
          justify-self: flex-start;
          align-self: flex-start; }
        .index-master-container .cover-text-container .container-text {
          justify-self: flex-start;
          align-self: center;
          width: 470px;
          margin: 0 20px 0 0;
          grid-area: description;
          border-top: 0; }
          .index-master-container .cover-text-container .container-text .container-detail .title {
            font-size: 24px; }
          .index-master-container .cover-text-container .container-text .container-detail .detail {
            font-size: 24px; } }
  @media only screen and (max-width: 376px) {
    .index-master-container {
      height: 667px;
      width: 100%;
      grid-template-rows: 32px 570px 65px;
      grid-template-areas: "." "container" "return-button"; }
      .index-master-container .return-button {
        font-size: 18px;
        grid-area: return-button;
        justify-self: center;
        margin: 20px 0 0 0; }
      .index-master-container .cover-text-container {
        height: 570px;
        width: 336px;
        grid-area: container;
        justify-items: center;
        grid-template-columns: 336px;
        grid-template-rows: 71px 299px 40px 160px;
        justify-self: center;
        margin: 0;
        grid-template-areas: "title" "image" "genre" "description"; }
        .index-master-container .cover-text-container .cover-page-badge-container {
          display: grid;
          align-self: center;
          justify-self: center; }
          .index-master-container .cover-text-container .cover-page-badge-container .cover-page {
            height: 299px;
            width: 212px;
            grid-area: image; }
          .index-master-container .cover-text-container .cover-page-badge-container .badge {
            width: calc(95px * 0.7);
            height: calc(119px * 0.7);
            right: -16px;
            top: -10px; }
        .index-master-container .cover-text-container .book-title {
          font-size: 24px;
          align-self: center;
          justify-self: center;
          grid-area: title; }
        .index-master-container .cover-text-container .book-genre {
          font-size: 16px;
          line-height: 19px;
          margin: 16px 0 0 0;
          grid-area: genre;
          justify-self: center; }
        .index-master-container .cover-text-container .container-text {
          display: grid;
          justify-self: center;
          align-self: center;
          width: 300px;
          margin: 0 18px;
          grid-area: description;
          border-top: 4px solid #BED23C;
          grid-template-rows: 18px 126px;
          grid-template-areas: "." "details"; }
          .index-master-container .cover-text-container .container-text .container-detail {
            grid-area: details;
            margin: 0; }
            .index-master-container .cover-text-container .container-text .container-detail .title {
              font-size: 14px; }
            .index-master-container .cover-text-container .container-text .container-detail .detail {
              font-size: 14px;
              margin-bottom: 18px; } }

.list-container {
  background-color: #F4F4F4; }
  .list-container .navbar-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    border-top: 6px solid #00ADEE;
    height: 70px;
    width: 100%;
    max-width: 1366px;
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    justify-content: space-around; }
    .list-container .navbar-container .navbar {
      display: flex;
      height: 70px;
      width: 100%;
      max-width: 900px;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px; }
      .list-container .navbar-container .navbar .wolox-logo {
        height: 70px;
        width: 212px; }
      .list-container .navbar-container .navbar .logout {
        color: #000000;
        font-size: 18px;
        line-height: 21px; }
  .list-container .master-book-list-container {
    display: flex;
    height: 636px;
    width: 900px;
    background-color: #F4F4F4;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center; }
    .list-container .master-book-list-container .book-container {
      display: flex;
      height: 300px;
      width: 198px;
      background-color: #FFF;
      box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
      flex-direction: column;
      justify-content: center; }
      .list-container .master-book-list-container .book-container .cover-page-list {
        height: 200px;
        width: 142px;
        align-self: center; }
      .list-container .master-book-list-container .book-container .book-list-detail {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        padding-left: 28px; }
        .list-container .master-book-list-container .book-container .book-list-detail .book-list-title {
          color: #000000;
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
          margin-bottom: 8px; }
        .list-container .master-book-list-container .book-container .book-list-detail .book-list-author {
          color: #808080;
          font-size: 14px;
          line-height: 18px; }
      .list-container .master-book-list-container .book-container:hover {
        transition: width 2s, height 2s, transform 1s;
        transform: scaleX(1.1) scaleY(1.1); }

.login-master-container {
  background-color: #FFF; }
  .login-master-container .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: #F4F4F4;
    padding-bottom: 24px;
    border-top: 8px solid #00ADEE; }
    .login-master-container .login-container .wolox-logo {
      margin-top: 20px;
      align-self: center;
      height: 70px;
      width: 212px; }
    .login-master-container .login-container .text {
      align-self: flex-start;
      color: #000000;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px; }
    .login-master-container .login-container .credentials-box {
      height: 32px;
      width: 252px;
      border-radius: 5px;
      background-color: #FFF;
      margin-bottom: 16px; }
    .login-master-container .login-container .link-book-list {
      color: #FFF; }
    .login-master-container .login-container .redirection-button {
      margin-top: 16px; }
    .login-master-container .login-container .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid #A8A8A8;
      margin-top: 16px; }
      .login-master-container .login-container .login-form .button:first-of-type {
        margin: 8px 0 16px; }

body {
  font-family: 'Roboto', sans-serif; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  height: 32px;
  width: 252px;
  border-radius: 5px; }
  .button.action-button {
    background-color: #BED23C;
    color: #FFF; }
  .button.redirection-button {
    background-color: #F4F4F4;
    border: 2px solid #BED23C;
    color: #BED23C; }

.master-container {
  display: flex;
  height: 768px;
  width: 100%;
  max-width: 1366px;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=application.css.map */
