<div class="master-container list-container">
  <div class="navbar-container">
    <div class="navbar">
      <img class="wolox-logo" src="../../assets/LogoWolox.png" alt="wolox logo">
      <input class="book-search" ng-model="searchtxt" type="text" placeholder="Buscá por título del libro...">
      <button class="logout">Logout</button>
    </div>
  </div>
  <div class="master-book-list-container">
    <div class="book-container" ng-repeat= "book in $ctrl.bookList | filter:searchtxt">
      <img class="cover-page-list" ng-if="book.image_url" ng-src="{{book.image_url}}" alt="Cover page"/>
      <img class="cover-page-list" ng-if="!book.image_url" src="../../assets/book-cover.png" alt="Wolox books cover page"/>
      <div class="book-list-detail">
        <p class="book-list-title">
          {{book.title}}
        </p>
        <p class="book-list-author">
          {{book.author}}
        </p>
      </div>
    </div> 
  </div>
</div>
